modules = ["python-3.12", "web"]
run = "cd temp_project && python manage.py runserver"

[nix]
channel = "stable-23_11"

[deployment]
# run = ["sh", "-c", "cd temp_project && python manage.py runserver"]
run = ["python3 Showoff/manage.py 0.0.0.0:8000"]

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

